*{margin: 0px;}
body{
    background-color:rgb(234, 238, 229);
    font-family:Arial, Helvetica, sans-serif;
}
#Banner{
    height: 70vh;
    background: linear-gradient(
        135deg, rgba(0,0,0,0.5),
        rgba(0, 0, 0, 0.5)
    ), url(IMAGENES/BANNER.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#Banner h1{
       font-size: 7em;
       color: white;
       font-weight: bold;
}
#nosotros .container{
    text-align: center;
    padding: 50px;
    margin-top: 70px;
    margin-bottom: 100px;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
#nosotros p{
    margin-top: 40px;
    font-size: 2em;
}
#nosotros h2{
    font-size: 3.2em;
}
#nosotros .container .imagen{
    background-image: url("IMAGENES/NOSOTROS.jpeg");
    height: 500px;
    width: 450px;
    background-position: center center;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
}
#nosotros .INFO{
    width: 35%;
    text-align: left;
    margin-left: 60px;
}
#platos{
    padding: 60px;
    text-align: center;
    background-color:rgb(34, 34, 34);
}
#platos h1{
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 100px;
    color: white;
}
#platos p{
    width: 50%;
    font-size: 1.8em;
    margin-left: 40px;
    margin-right: 40px;
    color: white;
}
#platos .platos .cecina .imagen{
    background-image: url(IMAGENES/TACACHO\ CON\ CECINA.png);
    width: 280px;
    height: 350px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
}
#platos .platos .cecina{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
#platos .platos .chorizo .imagen{
    background-image: url(IMAGENES/TACACHO\ CON\ CHORIZO.jpg);
    width: 280px;
    height: 350px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
}
#platos .platos .chorizo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
#platos .platos .mixto .imagen{
    background-image: url(IMAGENES/MIXTO.jpg);
    width: 280px;
    height: 350px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
}
#platos .platos .mixto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
#platos .platos .chaufa .imagen{
    background-image: url(IMAGENES/ARROZ\ CHAUFA.jpg);
    width: 280px;
    height: 350px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
}
#platos .platos .chaufa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
#platos .platos .patacones .imagen{
    background-image: url(IMAGENES/PATACONES.jpg);
    width: 280px;
    height: 350px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
}
#platos .platos .patacones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
button{
    padding: 10px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: black;
    color: white;
    font-size: 1.3em;
}
button:hover{
    background-color: gray;
}
#platos button{
    height: 60px;
}