body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(234, 238, 229);
    margin: 0
}
#patacones h1{
    font-size: 4.5em;
    text-align: center;
    margin-top: 0px;
    padding-top: 80px;
    background-color:rgb(32, 32, 32);
    padding-bottom: 80px;
    color: white;
}
#patacones .imagen{
    background-image: url(IMAGENES/PATACONES.jpg);
    height: 600px;
    width: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
}
#patacones p{
    font-size: 2.3em;
    width: 40%;
    margin-left: 70px;
}
#patacones .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 80px;
}
#info{
    background-color: rgb(32, 32, 32);
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#info h1{
    font-size: 1.4em;
    color: white;
    padding-left: 20px;
}